.App {
  text-align: center;
}
.PageContent {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.image {
  flex: 1;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background:linear-gradient(rgba(255, 255, 255, 0.5),transparent);
  background-color: rgba(59, 45, 139, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


