.card {
  display:block;
  margin:auto;
  color: black;
  width: 350px;
  height: auto;
  padding: 2%;
  color: rgb(15, 4, 54);
  background-color:  rgb(35, 30, 109); /*From here..*/
  box-shadow: 0 10px rgba(49, 49, 49, 0.253);

  text-align: center;
  cursor: pointer;
}
.card:hover{
  box-shadow: 0 15px rgba(49, 49, 49, 0.253);
  border-width: 4px;
  scale: 2;
}

.p { 
  margin: auto; /* Important */ 
  text-align: center; 
  perspective: 600px;
}